.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}
p {
  margin: 0;
}
.test{
  position:fixed;
   left:1000px;
   top:150px;
}
.drawerImage{
  width: 100%;
}
.drawerSize{
  font-size: large;
}
